
.div1 {
    border: 2px solid black;
    border-radius: 10px;
    
}

.title {
    color: rgb(188, 192, 196);
}

.button {
    background-color: #141414;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin: auto;
    position: absolute;
}

